<ion-view view-title="Vedio App Name">
    <ion-content>
 <div class="item item-divider">
             <i class="ion-images"></i>
             Events
             </div>
        <div class="button-bar">
                    <a class="button button-dark" href="#/app/addevents">Register Event</a>
                    
                </div>
       <div class="card-wrapper" ng-repeat="AllEvents in AllEvents" >
    <div class="card custom-card img2">         
        <ion-list >
           <div >
                <img  ng-src="{{photo}}{{AllEvents.image}}"  class="image-list-thumb2"/>
               <div class="desc"><strong>{{AllEvents.organiser_name}}</strong><strong>{{AllEvents.title}}</strong><br>Releasing on : {{AllEvents.start}}&nbsp;<br>{{AllEvents.end}}<br>{{AllEvents.details}}</div>
                </div>
             </ion-list>
           </div>
        </div>
    </ion-content>
</ion-view>
